body {
    padding: 20px;
    background: cornsilk !important;
    }
h1 {
    text-align: center;
    display: block;
    font-size: 2em;
    margin-bottom: 30px !important;
}
p {
    padding: 30px;
}
footer {
    display: flex;
}
.img-fluid {
    max-width: 50% !important;
    height: auto;
    display: block;
    text-align: center;
    margin: auto;  
    margin-bottom: 30px !important;
}